{% extends 'base.html.twig' %}

{% block title %}
	{{photo.title}}
{% endblock %}

{% block body %}

	<h1>
		{{photo.title}}
	</h1>


	<section class="row">

		<article class="col-4">
			<figure>
				<div class="col-6"><img src="{{photo.url}}" width="600"></div>
				<div class="col-6">
					<h3>Tags</h3>
					{% for tag in photo.tags %}
						<a href="{{ path('app_display_tag', {'slug': tag.slug}) }}">{{tag.name}}</a>
					{% endfor %}
					<h3>Description</h3>
					{{photo.description}}
				</div>


				<div>
					<a href="{{ path('app_add_to_cart', {'slug': photo.slug,'id': photo.id}) }}">
						<button>
							Add to Cart</button>
					</a>
				</div>
			</figure>
		</article>
	</section>

{% endblock %}
